body{
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}


.navigationContainer{
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #EEF0CC;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nameStyle{
    font-weight: 400;
    font-size: 2em;
}

.left{
    display: flex;
}

.navigationContainer > .left > div {
    margin-right: 20px;
    margin-top: 20px;
    font-size: .9em;
    text-transform: uppercase;
}

.navlink{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.navlink a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color .5s;
}

.navlink:hover{
    border-bottom: 1px solid #7392E7;
}

.navlink a:hover{
    color: #7392E7;
}

/*PortfolioItems*/

.content{
    margin-right: 10px;
    margin-left: 10px;
}

.portfolioItems{
    display: grid;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolioItem{
    position: relative;
}

.portfolioItemBackground{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagetext{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo img{
    width:100%;
    margin-bottom: 20px;
}

.imagetext .subtitle{
    transition: 1s;
    font-weight: 400;
    color:transparent
}

.imagetext:hover .subtitle{
    font-weight: 400;
    color: #7392E7;
}

.Darken{
    transition: 1s;
    filter: brightness(10%);
}

/*ABOUT PAGE*/
.INFO{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: grid;
    background-color: #F5F5F5;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
}

.InfoTitle{
    color:#7392E7;
    text-align: center;
}

.Info{
    color: black;
    text-indent: 20px;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.aboutPic img{
    border-radius: 35px;
    margin-top: 30px;
    width: 96%;
    
}

.PacificPic img{
    border-radius: 35px;
    margin-left: 30px;
    width:96%
}

.swimPic img{
    border-radius: 35px;
    width:96%
}

/*Contact Page*/

.ContactContainer{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: grid;
    background-color: #F5F5F5;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
}

.contactMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ContactBody{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.ContactBody img{
    border-radius: 15px;
}

.Contactright{
    margin-top: 150px;
    text-align: center;
    margin-left: 150px;
}
.phone{
    margin-top: 10px;
    font-size: 3em;
    
}
.email{
    margin-top: 10px;
    font-size: 2em;
}

.LinkedIn{
    margin-top: 180px;
    font-size: 1em;
    margin-bottom: 20px;
}

.Logo img{
    width: 25%;
}

/*Projects*/

.ProjectContainer{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #F5F5F5;
    border-radius: 15px;
}

.Projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.projectImages{
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.Image img{
    width: 100%;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

